<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
-->
<!--@subject {{trans "Footer"}} @-->

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding:32px 32px 32px;">
                        <p style="margin:0; font-family:'Open Sans', Arial, sans-serif; font-size:12px; line-height:18px; color:#999999;">
                            {{trans "Powered by"}} <a href="{{var product_url}}?utm_source=extensions&utm_medium=emails&utm_campaign=footer-name" target="_blank" style="color:#999999; text-decoration:underline;">{{var product_name}}</a> {{trans "for"}} <a href="{{var store_url}}" target="_blank" style="color:#999999; text-decoration:underline;">{{var store_name}}</a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
