<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
-->
<!--@subject {{trans "Header"}} @-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body style="margin:0; padding:0; background-color:#ffffff;">
<table width="100%" cellpadding="0" cellspacing="0" border="0" role="presentation" bgcolor="#ffffff" style="background-color:#ffffff;">
    <tr>
        <td align="center" style="padding:24px 16px;">
            <table width="600" cellpadding="0" cellspacing="0" border="0" role="presentation"
                   background="{{view url="Magefan_Community::images/email-header-bg.png"}}"
            bgcolor="#f4f4f5"
            style="border-radius: 20px; overflow:hidden; width:600px; max-width:600px; background-color:#f4f4f5; background-image:url('{{view url="Magefan_Community::images/email-header-bg.png"}}'); background-repeat:no-repeat; background-position:top left;">
    <tr>
        <td align="center" valign="middle" style="height:107px; padding:0; vertical-align:middle;">
            <a href="https://magefan.com/?utm_source=extensions&utm_medium=emails&utm_campaign=logo" style="display:block; line-height:0; text-decoration:none;">
                <img
                    src="{{view url="Magefan_Community::images/logo-email.png"}}"
                alt="Magefan"
                width="199"
                height="35"
                border="0"
                style="display:block; border:0;"
                />
            </a>
        </td>
    </tr>
    <tr>
        <td style="padding:0 32px;">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" role="presentation">
                <tr>
                    <td bgcolor="#ffffff" style="background-color:#ffffff; border-radius:16px; padding:32px; font-family:'Open Sans', Arial, sans-serif; font-size:14px; line-height:22px; color:#333333;">
