<?xml version="1.0" ?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Backend\Model\Menu\Builder">
        <plugin
            name="Magefan_Community_Plugin_Magento_Backend_Model_Menu_Builder"
            type="Magefan\Community\Plugin\Magento\Backend\Model\Menu\BuilderPlugin"
        />
    </type>

    <type name="Magefan\Community\Block\Adminhtml\Info">
        <arguments>
            <argument name="fullActionModuleMap" xsi:type="array">
                <!-- Extensions that enhance native Magento admin pages -->
                <item name="adminhtml_sitemap_index" xsi:type="string">Magefan_XmlSitemap</item>
                <item name="sales_order_index" xsi:type="string">Magefan_BetterOrderGrid</item>
                <item name="catalog_product_index" xsi:type="string">Magefan_ProductGridInline</item>
                <item name="cms_page_edit" xsi:type="array">
                    <item name="0" xsi:type="string">Magefan_CmsDisplayRules</item>
                    <item name="1" xsi:type="string">Magefan_AlternateHreflang</item>
                </item>
                <item name="cms_block_edit" xsi:type="string">Magefan_CmsDisplayRules</item>
                <item name="adminhtml_dashboard_index" xsi:type="string">Magefan_Security</item>
                <item name="sales_rule_promo_quote_edit" xsi:type="string">Magefan_CouponCodeLink</item>
                <item name="sales_order_view" xsi:type="array">
                    <item name="0" xsi:type="string">Magefan_BetterCheckout</item>
                    <item name="1" xsi:type="string">Magefan_OrderEdit</item>
                    <item name="2" xsi:type="string">Magefan_GuestToCustomer</item>
                    <item name="3" xsi:type="string">Magefan_GoogleTagManager</item>
                </item>
                <item name="customer_index_orders" xsi:type="string">Magefan_BetterOrderGrid</item>
                <item name="sales_archive_orders" xsi:type="string">Magefan_BetterOrderGrid</item>
                <item name="sales_order_status_index" xsi:type="string">Magefan_BetterOrderGrid</item>
                <item name="catalog_product_action_attribute_edit" xsi:type="string">Magefan_ProductGridInline</item>
                <item name="catalog_product_edit" xsi:type="array">
                    <item name="0" xsi:type="string">Magefan_AlternateHreflang</item>
                    <item name="1" xsi:type="string">Magefan_GoogleShoppingFeed</item>
                    <item name="2" xsi:type="string">Magefan_Translation</item>
                    <item name="3" xsi:type="string">Magefan_Blog</item>
                </item>
                <item name="catalog_category_edit" xsi:type="array">
                    <item name="0" xsi:type="string">Magefan_AlternateHreflang</item>
                    <item name="1" xsi:type="string">Magefan_GoogleShoppingFeed</item>
                    <item name="2" xsi:type="string">Magefan_Translation</item>
                </item>
                <item name="catalog_product_attribute_edit" xsi:type="string">Magefan_Translation</item>
                <item name="cmstree_page_edit" xsi:type="string">Magefan_AlternateHreflang</item>
                <item name="sales_order_status_edit" xsi:type="string">Magefan_BetterOrderGrid</item>
                <item name="sales_order_status_new" xsi:type="string">Magefan_BetterOrderGrid</item>
                <item name="adminhtml_widget_instance_edit" xsi:type="string">Magefan_Blog</item>
                <item name="sales_order_create_load_block_search" xsi:type="string">Magefan_OrderEdit</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Config\Block\System\Config\Tabs">
        <plugin name="mf_add_dynami_tabs_to_config"
                type="Magefan\Community\Plugin\Magento\Config\Block\System\Config\Tabs\AddTabs"/>
    </type>
</config>
