<?xml version="1.0" ?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magefan" sortOrder="110" translate="label">
            <label>Magefan Extensions</label>
        </tab>
        <section id="extension" translate="label" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Extensions &amp; Notifications</label>
            <tab>magefan</tab>
            <resource>Magefan_Community::config_section</resource>
            <group id="installed" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Installed Extensions</label>
                <attribute type="expanded">1</attribute>
                <field id="version" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>New Version Available</label>
                    <frontend_model>Magefan\Community\Block\Adminhtml\System\Config\Form\NewVersion</frontend_model>
                </field>
                <field id="up_to_date" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Up-to-Date Magefan Extensions</label>
                    <frontend_model>Magefan\Community\Block\Adminhtml\System\Config\Form\UpToDate</frontend_model>
                </field>
                <field id="available" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Available Magefan Extensions</label>
                    <frontend_model>Magefan\Community\Block\Adminhtml\System\Config\Form\Available</frontend_model>
                </field>
            </group>
            <group id="notification" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Magefan Notifications</label>
                <attribute type="expanded">1</attribute>
                <field id="update" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Receive Product Updates</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="offer" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Receive Special Offers</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="news" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Receive News</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tip_tricks" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Receive Tip &amp; Tricks</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="general" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Receive General Information</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
